.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

.flexWrap {
    display: flex;
    flex-wrap: wrap;
}


body {
    color:white;
    background: linear-gradient( $tertiaryColor,$backgroundColor);
}


h1, label, button {
    font-family: $primaryFont;
}

p { 
    font-family: $secondaryFont;
}

input[type=text], select, option {
    font-family: $tertiaryFont;
}


h1 { 
    font-size: 8rem;
    color: $primaryColor;
    letter-spacing: 8px;
    text-shadow: 0 -1px 6px $primaryColor, 0 6px 10px $tertiaryColor;
    margin-bottom: 5px;
}

h2 {
    // font-size: 4.8rem;
    font-size: 2.4rem;
    color:white;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: $secondaryColor;
}

h3 {
    font-family: $tertiaryFont;
    font-size:2rem;
    font-weight: 600;
}

h4 {
    font-style: italic;
}

label, p {
    letter-spacing: 2px;
}

button {
    padding: 1rem 2.5rem;
    border-radius: 5px;
    border: none;
    font-size: 2.5rem;
    margin-top: 1.5rem;
    background-color: $primaryColor;
    color: $tertiaryColor;
    letter-spacing: 1.5px;
}

button:hover, button:focus {
    background-color: darken($primaryColor, 20%);
}

img {
    border-radius: 5px;
    width: 100%;
}

span {
    font-size: 12rem;
}