footer {
  padding: 1.8rem;
  font-size: 1.6rem;
  background-color: $tertiaryColor;
  text-align: center;
  color: $primaryColor;
  position: absolute;
  bottom: 0;

  @include laptopMQ {
    font-size: 1.4rem;
  }

  @include tabletMQ {
      font-size: 1.2rem;
      line-height: 1.6;
    }

  @include largePhoneMQ  {
    font-size: 1rem;
    }

  a {
    color: $primaryColor;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    color: darken($primaryColor, 30%);
  }
}