.index {
// background-color: #a8d4dc;
background:#ce1e1e;
    header {
        text-align: center;
        padding-top: 2%;
    }

    .preferences {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        .genre {
            width: 250px;
        }
    }

    .results {
        padding: 50px;
        display: flex;
        flex-wrap: wrap; 
    }

    .movie {
        width: calc(33% - 5%); 
        margin: 2%;
        position: relative;

        img {
            width: 100%;
        }

        h2 {
            font-size: 2rem;
            text-align: center;
            margin: 1rem;
        }

        p {
            position: absolute;
            bottom: 5%;
            right: -2%;
            background-color: $secondary-color;
            border-radius: 50%;
            padding: 2rem;
            color: white;
            font-family: $primary-font;
            font-size: 1.5rem;
            letter-spacing: 0px;
        }
    }
    .moviePreferences {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 5rem;
        align-items: center;
        
    
        h2 {
            font-size: 5rem;
            margin-bottom: 3rem;
        }
        
        fieldset {
            width: 400px;
        }
    
        input[type=text], select {
            width: 80%;
            padding: 15px 20px;
            margin: 15px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }
}