.moviePrefrences {
    height:80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
    }
    fieldset {
        width:400px;
    }

    input[type=text], select {
        width: 80%;
        padding: 15px 20px;
        margin: 15px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .moviePickerBtn{
    padding:1rem 1.5rem;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
    }
}

.index {
    background-color: rgb(245, 211, 211);

    header {
        text-align: center;
        padding-top: 10%;
    }

    .preferences {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .genre {
            width: 250px;
        }
    }

    .results {
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        
    
        .movie {
            width: calc(33% - 5%); 
            margin: 2%;
            position: relative;

            img {
                width: 100%;
                border-radius: 5px;
            }

            h2 {
                font-family: $movie-title;
                font-size: 2rem;
                text-align: center;
                margin: 1rem;
            }

            p {
                position: absolute;
                bottom: 5%;
                right: -2%;
                background-color: red;
                border-radius: 50%;
                padding: 2rem;
                color: white;

            }
        }

    }
}