.landingPage {
  overflow-x: hidden;
  height: 100vh;

  main {
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8%;

    @include largePhoneMQ {
      padding: 0;
      height: 100vh;
    }
  }

  .popularMoviesDisplay {
    width: 300%;
    display: flex;
    animation: slideshow 30s linear infinite;
    justify-content: space-between; 

    @include laptopMQ {
      width: 400%;
    }

    @include tabletMQ {
      width: 500%;
    }

    @include largePhoneMQ {
        display: none;
    }
  }

  @keyframes slideshow {
    0% {
      margin-left: 205%;
    }
    100% {
      margin-left: -205%;
    }
  }

  .movieImage {
    margin: 20px 15px;
  }

  .popularMoviesDisplay:hover {
    animation-play-state: paused;
  }

  footer {
    width: 100%;
  }
}