.landing-page {
  background-color: $primary-color;
  letter-spacing: 3px;
  color:$accent-color;

  header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}