.landingPage {
  overflow-x: hidden;
  height:100vh;

  main {
    height:95vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-family: $tertiaryFont;
  }

  .popularMoviesDisplay {
    width: 300%;
    display: flex;
    animation: slideshow 30s linear infinite;
    justify-content: space-between; 

    @include largePhoneMQ {
        display: none;
    }
  }

  @keyframes slideshow {
    0% {
      margin-left: 205%;
    }
    100% {
      margin-left: -205%;
    }
  }

  .movieImage {
    margin: 20px 15px;
  }

  .popularMoviesDisplay:hover {
    animation-play-state: paused;
  }
}