.movieInfo {
  // height:100vh;
  overflow: hidden;

  @include largePhoneMQ {
    overflow: initial;
  }

  main {
    height: 88vh;

    @include largePhoneMQ { 
    
      height: auto;
    }
  }

  h1 {
    font-size: 5rem;
    margin-top: 5%;

    @include largePhoneMQ {
      text-align: center;  
      font-size: 7rem;
      margin-top: 10%;
    }

  }
   h2 {
     font-family: $primaryFont;
     font-size: 6rem;
   }

  .movieInfoContainer {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5%;

    @include tabletMQ {
      margin-top: 10%;
    }

    @include largePhoneMQ {
     flex-direction: column-reverse;
     margin: 0;
     align-items: center;
    }
  }

  .imgContainer {
    margin-right: 5%;
    position: relative;
    width: 35%;

    @include largePhoneMQ {
      width: 60%;
      margin: 0;
      margin-top: 5%;
    }

    @include smallPhoneMQ {
      width: 80%;
    }

    i {
      background-color: transparent;
      border: none;
      font-size: 3rem;
      position: absolute;
      right: 0;
      padding: 8px;
      margin: 8px;
    }
  }

  .textContainer {
    padding-top: 5rem;
    width: 60%;

    @include largePhoneMQ {
      width: 80%;
      margin-bottom: 15%;
    }

    p {
      font-size: 2rem;
      margin-top: 3%;

      @include tabletMQ {
        font-size: 1.6rem;
        letter-spacing: 1.5px;
        line-height: 2.2rem;
      }
    }

  }

  footer p {
    @include laptopMQ {
      font-size: 1.8rem;
    }

    @include tabletMQ {
      font-size: 1.4rem;
    }

    @include largePhoneMQ { 
      font-size: 1.6rem;
    }
  }
}