.movieInfo {
  height:100vh;
  overflow: hidden;
  
  h1 {
    font-size: 5rem;
    margin-top: 3%;
  }
  .movieInfoContainer {
    height:77vh;
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top:5rem;
    @include tabletMQ {
      display: block;
    }
  }

  .imgContainer {
    margin-right: 5%;
    position: relative;

    img {
      object-fit: cover;
    }

    i {
      background-color: transparent;
      border: none;
      font-size: 3rem;
      position: absolute;
      right: 0;
      padding: 8px;
      margin: 8px;
    }
  }

  .textContainer {
    padding-top: 5rem;
    max-width: 65%;
    width: 100%;
  
    p {
      color: $secondaryColor;
    }
  }

  .genreInfo {
    font-weight: bold;
    display:flex;
    padding:1.5rem;
    border-radius: 5px;
    .genre {
      font-style: italic;
      margin-right:30px;
    }
  }

  .productionsCompanies {
    display:flex;
    padding:1rem 0;
    margin-top: 2rem;
    .productionInfo {
      margin-right:5rem;
    max-width:200px;
      img {
        width:40px;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}