  .movie-info {
  // background: linear-gradient( #ce1e1e, #000000);
  background-color: black;
  line-height: 1.4;

  .movieInfoContainer {
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top:5rem ;
  }

  .imgContainer {
    margin-right: 5rem;

    img {
      object-fit: cover;
    }
  }

  .textContainer {
    padding-top: 5rem;
    max-width: 65%;
    width: 100%;
    // color:rgb(3,37,65);
  
    button {
      background-color: transparent;
      border:none;
      font-size: 3rem;
    }

    p {
      color: $base-font-color;
    }
  }

  .genreInfo {
    font-weight: bold;
    display:flex;
    padding:1.5rem;
    border-radius: 5px;
    .genre {
      font-style: italic;
      margin-right:30px;
    }
  }

  .productions-companies {
    display:flex;
    padding:1rem 0;
    margin-top: 2rem;
    .production-info {
      margin-right:5rem;
    max-width:200px;
      img {
        width:40px;
      }
      p {
        font-size: 1.2rem;
      }

    }
  }
}