/*Colour Palette*/
/*Primary Colour: #242582*/
/*Secondary Colour: #553D67*/
/*Accent Colour: #F64C72*/
/*Font Colour: #FFFFFF*/

$primary-color:#01012b;
$secondary-color:#7700a6;
//$primary-color:#000000;
//$secondary-color:#ffec16;
$accent-color:#ff2a6d;
$base-font-color:#d1f7ff;
$tertiary-color:#005678;

/*Font Variables*/
$primary-font:'Bangers', cursive;
$secondary-font: 'Open Sans', sans-serif, 

