/*Colour Palette*/
/*Primary Colour: #66FCF1*/
/*Secondary Colour: #D1F7FF*/
/*Tertiary Colour: #071E3D*/
/*Background Colour: #278EA5*/
/*Glow Colour: #$glowColor: #05D9E8;*/

$primaryColor: #66FCF1;
$secondaryColor: #D1F7FF;
$tertiaryColor: #071E3D;
$backgroundColor: #278EA5;
$glowColor: #05D9E8;

//Font Variables
$primaryFont:'Bangers', cursive;
$secondaryFont: 'Open Sans', sans-serif;
$tertiaryFont: 'Barlow', cursive;

