@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Barlow&display=swap");
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

/*Colour Palette*/
/*Primary Colour: #66FCF1*/
/*Secondary Colour: #D1F7FF*/
/*Tertiary Colour: #071E3D*/
/*Background Colour: #278EA5*/
/*Glow Colour: #$glowColor: #05D9E8;*/
.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.flexWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#071E3D), to(#278EA5));
  background: linear-gradient(#071E3D, #278EA5);
}

h1, label, button {
  font-family: "Bangers", cursive;
}

h3, h4 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 2.6rem;
  line-height: 2.8rem;
  color: #D1F7FF;
}

input[type=text], select, option {
  font-family: "Barlow", cursive;
}

h1 {
  font-size: 8rem;
  color: #66FCF1;
  letter-spacing: 8px;
  text-shadow: 0 -1px 6px #66FCF1, 0 6px 10px #071E3D;
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 7rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 8rem;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 7rem;
  }
}

h2 {
  font-size: 3.6rem;
  font-family: "Barlow", cursive;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 15px;
  color: #D1F7FF;
  line-height: 7rem;
}

@media (max-width: 800px) {
  h2 {
    font-size: 2.8rem;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 2.4rem;
}

@media (max-width: 800px) {
  h3 {
    font-size: 1.6rem;
  }
}

h4 {
  font-style: italic;
}

label, p {
  letter-spacing: 2px;
}

button {
  padding: 1rem 2.5rem;
  border-radius: 5px;
  border: none;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  background-color: #66FCF1;
  color: #071E3D;
  letter-spacing: 1.5px;
}

@media (max-width: 600px) {
  button {
    font-size: 2.4rem;
    padding: 1rem 2rem;
  }
}

button:hover, button:focus {
  background-color: #05f7e5;
}

img {
  border-radius: 5px;
  width: 100%;
}

span {
  font-size: 12rem;
}

.index {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.index header {
  text-align: center;
  padding-top: 10%;
}

@media (max-width: 992px) {
  .index header {
    padding-top: 15%;
  }
}

@media (max-width: 600px) {
  .index header {
    padding-top: 25%;
  }
}

.index .moviePreferences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .moviePreferences h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

@media (max-width: 992px) {
  .index .moviePreferences h2 {
    font-size: 2.6rem;
  }
}

@media (max-width: 800px) {
  .index .moviePreferences h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 600px) {
  .index .moviePreferences h2 {
    font-size: 2.6rem;
  }
}

.index fieldset {
  width: 400px;
}

@media (max-width: 800px) {
  .index fieldset {
    width: 350px;
  }
}

@media (max-width: 600px) {
  .index fieldset {
    width: 300px;
  }
}

.index input[type=text], .index select {
  width: 80%;
  padding: 15px 20px;
  margin: 15px 0;
  border: 1px solid #CCC;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .index input[type=text], .index select {
    padding: 10px 15px;
  }
}

@media (max-width: 600px) {
  .index input[type=text], .index select {
    padding: 7px 10px;
  }
}

.index .results {
  padding: 5%;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.index .movie {
  width: calc(33% - 5%);
  margin: 2%;
  position: relative;
}

@media (max-width: 800px) {
  .index .movie {
    width: calc(50% - 6%);
    margin: 3%;
  }
}

@media (max-width: 600px) {
  .index .movie {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10%;
  }
}

.index .movie h3 {
  text-align: center;
  margin: 1rem;
}

@media (max-width: 992px) {
  .index .movie h3 {
    font-size: 2rem;
  }
}

.index .movie p {
  font-family: "Bangers", cursive;
  font-size: 2rem;
  letter-spacing: 0px;
  font-weight: bolder;
  background-color: #D1F7FF;
  color: #071E3D;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 8px #071E3D;
          box-shadow: 0 5px 8px #071E3D;
  width: 60px;
  height: 60px;
  text-align: center;
  position: absolute;
  top: 5%;
  right: -10%;
  padding-top: 20px;
}

@media (max-width: 800px) {
  .index .movie p {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  .index .movie p {
    visibility: hidden;
  }
}

.landingPage {
  overflow-x: hidden;
  height: 100vh;
}

.landingPage main {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8%;
}

@media (max-width: 600px) {
  .landingPage main {
    padding: 0;
    height: 100vh;
  }
}

.landingPage .popularMoviesDisplay {
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slideshow 30s linear infinite;
          animation: slideshow 30s linear infinite;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .landingPage .popularMoviesDisplay {
    width: 400%;
  }
}

@media (max-width: 800px) {
  .landingPage .popularMoviesDisplay {
    width: 500%;
  }
}

@media (max-width: 600px) {
  .landingPage .popularMoviesDisplay {
    display: none;
  }
}

@-webkit-keyframes slideshow {
  0% {
    margin-left: 205%;
  }
  100% {
    margin-left: -205%;
  }
}

@keyframes slideshow {
  0% {
    margin-left: 205%;
  }
  100% {
    margin-left: -205%;
  }
}

.landingPage .movieImage {
  margin: 20px 15px;
}

.landingPage .popularMoviesDisplay:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.landingPage footer {
  width: 100%;
}

.movieInfo main {
  height: 100vh;
}

@media (max-width: 600px) {
  .movieInfo main {
    height: auto;
  }
}

.movieInfo h1 {
  font-size: 5rem;
  padding-top: 5%;
}

@media (max-width: 600px) {
  .movieInfo h1 {
    text-align: center;
    font-size: 6rem;
    padding-top: 10%;
  }
}

.movieInfo h2 {
  font-family: "Bangers", cursive;
  font-size: 5rem;
}

@media (max-width: 600px) {
  .movieInfo h2 {
    font-size: 5rem;
    text-align: center;
  }
}

.movieInfo .movieInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 5%;
}

@media (max-width: 800px) {
  .movieInfo .movieInfoContainer {
    margin-top: 10%;
  }
}

@media (max-width: 600px) {
  .movieInfo .movieInfoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.movieInfo .imgContainer {
  margin-right: 5%;
  position: relative;
  width: 35%;
}

@media (max-width: 600px) {
  .movieInfo .imgContainer {
    width: 40%;
    margin: 0;
    padding-top: 5%;
  }
}

.movieInfo .imgContainer i {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  position: absolute;
  right: 0;
  padding: 8px;
  margin: 8px;
}

.movieInfo .textContainer {
  padding-top: 5rem;
  width: 60%;
}

@media (max-width: 600px) {
  .movieInfo .textContainer {
    width: 80%;
    padding-bottom: 15%;
  }
}

.movieInfo .textContainer p {
  font-size: 2rem;
  margin-top: 3%;
}

@media (max-width: 800px) {
  .movieInfo .textContainer p {
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    line-height: 2.2rem;
  }
}

@media (max-width: 992px) {
  .movieInfo footer p {
    font-size: 1.8rem;
  }
}

@media (max-width: 800px) {
  .movieInfo footer p {
    font-size: 1.4rem;
  }
}

@media (max-width: 600px) {
  .movieInfo footer p {
    font-size: 1.6rem;
  }
}

footer {
  background-color: #071E3D;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
  padding: 1.8rem;
  color: #66FCF1;
}

@media (max-width: 992px) {
  footer p {
    font-size: 1.4rem;
  }
}

@media (max-width: 800px) {
  footer p {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

@media (max-width: 600px) {
  footer p {
    font-size: 1.6rem;
  }
}

footer a {
  color: #66FCF1;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #04c5b7;
}
